@import 'lib'
@import 'components/inputs'
@import 'components/blackNav'

@import 'components/footer'

@import 'components/login'

@import 'components/default'

@import 'components/hoverTile'
@import 'components/pictureView'

@import 'components/profileStats'
@import 'components/imgdropdown'
@import 'components/profileView'
@import 'components/searchBox'

body
  background: rgba(0, 0, 0, .75)
  color: $primary-color
  margin-top: 10%
