@import 'lib'
@import 'components/inputs'
@import 'components/nav'
@import 'components/footer'
@import 'components/login'
@import 'components/default'

body
  background: rgba(0, 0, 0, .75)
  color: $primary-color
  margin-top: 5%
