<div class="container">

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      </div>
      <div class="card-header">
        First Card
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

</div>




<!-- <slick init-onload="true" infinite="true" slides-to-scroll="1" swipe-to-slide="true" touch-move="true"
dots="false" data="pictures" class="modal" css-ease="linear" variableWidth="true"> -->

  <!-- VERSION 1 with only buttons for more info -->
  <!-- <div class="modal-card" data-ng-repeat="x in pictures">
    <div class="modal-img">
      <img data-ng-src="{{x.url}}" alt="probably outer space" />
      <div class="imgInfo">
        <button type="button" name="favorite" data-picid="{{x.id}}" data-ng-click="createUserFavObj(x.id)">fav</button>
        <button type="button" name="info">info</button>
        <button type="button" name="info" data-ng-click="clicky(x.hdurl)">HD</button>
      </div>
    </div>
  </div> -->

  <!-- VERSION 2 with hover popup info -->
  <!-- <div class="modal-card hover-tile-outer" data-ng-repeat="x in pictures">
    <div class="hover-tile-container">
      <div class="modal-img hover-tile hover-tile-visible">
        <img data-ng-src="{{x.url}}" alt="probably outer space" />
        <div class="imgInfo">
          <button type="button" name="favorite" data-picid="{{x.id}}">fav</button>
          <button type="button" name="info">info</button>
          <button type="button" name="info" data-ng-click="clicky(x.hdurl)">HD</button>
        </div>
      </div>
      <div class="hover-tile hover-tile-hidden hiddenInfo">
        <h4>{{x.title}}</h4>
        <h4>{{x.copyright}}</h4>
        <p>{{x.explanation}}</p>
        <p>{{x.date}}</p>
      </div>
    </div>
  </div> -->

<!-- </slick> -->
