<div data-ng-include="'partials/fact.html'"></div>

<section class="profileViewWrap">
  <div class="profile">
    <div class="profileImgWrap">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
    </div>
    <div class="stats">
      <ul>
        <li>{{favorites.length}}<span>Images</span></li>
        <li>298<span>Events</span></li>
      </ul>
    </div>
  </div>
  <div class="imgListWrap">
    <!-- <header class="imgListHeader">
      <form class="search-bar" role="search">
        <input type="search" placeholder="Enter Search" data-ng-model="search"/>
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
        </button>
      </form>
    </header> -->
    <div class="imgList" >
      <!-- dynamic list items -->
      <section class="imgListItem" data-ng-repeat="x in favorites | filter: searchText.search">
        <div class="imgWrap">
          <img data-ng-src="{{x.url}}" data-ng-click="hdUrl(x.hdurl)" alt="Hello title here" style="cursor: pointer"/>
        </div>
        <div class="favInfo">
          <h3>{{x.title}}</h3>
          <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden" data-ng-click="dropDown($event)">Info</a>
            <div class="expander-content">
              <p>&copy;&nbsp;{{x.copyright ? x.copyright : 'public domain'}}</p>
              <p>{{x.date}}</p>
              <p>{{x.explanation}}</p>
            </div>
          </div>
        </div>
        <div class="buttonGroup">
          <button type="button" name="edit" data-uid="{{x.uid}}" data-key="{{x.key}}">Edit</button>
          <button type="button" name="delete" data-uid="{{x.uid}}" data-key="{{x.key}}" data-ng-click="deleteFavorite(x.favId)">X</button>
        </div>
      </section>

    </div>
  </div>
</section>
