<section class="profileViewWrap">
  <div class="profile">
    <div class="profileImgWrap">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
    </div>
    <div class="stats">
      <ul>
        <li>98<span>Images</span></li>
        <li>298<span>Events</span></li>
      </ul>
    </div>
  </div>
  <div class="imgListWrap">
    <header class="imgListHeader">
      <form class="search-bar" role="search">
        <input type="search" placeholder="Enter Search" data-ng-model="search"/>
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
        </button>
      </form>
    </header>
    <div class="imgList" >
      <section class="imgListItem" data-ng-repeat="x in favorites | filter: search">
        <div class="imgWrap">
          <img data-ng-src="{{x.url}}" alt="{{x.title}}">
        </div>
        <div class="favInfo">
          <h3>{{x.title}}</h3>
          <div class="expander">
            <a href="javascript:void(0)" class="expander-trigger expander-hidden">More info</a>
            <div class="expander-content">
              <p>{{x.title}}</p>
            </div>
          </div>
        </div>
        <div class="buttonGroup">
          <button type="button" name="edit" data-uid="{{x.uid}}" data-key="{{x.key}}">Edit</button>
          <button type="button" name="delete" data-uid="{{x.uid}}" data-key="{{x.key}}">X</button>
        </div>
      </section>
    </div>
  </div>
</section>
