<div class="welcomeWrap">
  <div class="welcome">

  <h1>Welcome to AstroApp!</h1>
  <p>
    Here you will find a littany of <a data-ng-href="#/pictures">pictures</a> of all things astronomy related.
    Save, favorite, set your avatar, and get local astronomy events all in your profile (don't forget to <a data-ng-href="#/login">login or sign up!</a>).
    You can also check out the current <a data-ng-href="#/splash">picture of the day</a>, get the local <a data-ng-href="#/weather">weather</a>
    for stargazing needs, and even <a data-ng-href="#/locate">locate your house</a> from space!
  </p>
</div>
</div>
