.hidden
  display: none

.profileViewWrap
  @include outer-container

  .profile
    @include span-columns(3)
    @include shift(1)
    background: lighten($primary-bg-color, 6%)
    position: fixed
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

  .imgListWrap
    @include span-columns(7)
    background: lighten($primary-bg-color, 6%)
    margin-left: 35%
    position: fixed
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

    .imgList
      overflow: hidden
      overflow-y: scroll
      height: 400px

    .imgListHeader
      height: 55px
      border-bottom: 3px solid $primary-border-color
      text-align: center
      margin-top: 2%

      .search-bar
        width: 50%
        margin: 0 auto

    .imgListItem
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      background: lighten($primary-bg-color, 50%)
      border: 1px solid white
      color: white
      width: 95%
      margin: 4% auto
      padding: 0 1%
      box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23)

      .imgWrap
        height: 79px
        width: 79px
        margin: auto 0

        img
          height: 100%
          width: 100%

      .favInfo

      .buttonGroup
        margin: auto 0
