.row
  @include outer-container

  .picWrap
    @include span-columns(6)
    @include shift(3)
    background-color: lighten($primary-bg-color, 6%)
    margin-top: 2%
    height: 75vh
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
