.cards
  @include outer-container

  .card
    color: darken($primary-color, 10%)

    .infoCard
      border: none
      text-align: justify
      box-shadow: none
      line-height: 1.5em

    .imgInfo
      display: flex
      justify-content: space-between
      position: absolute
      top: 0
      width: 100%

      i
        font-size: 1.5em
